<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">What We Do</h2>
                    <h3 class="section-subheading text-muted">
                    We are scientific computing study group whose home-base is at Simon 
                    Fraser University (SFU) in Burnaby, BC, Canada. Our group meets on a 
                    weekly basis for peer-facilitated study-sessions on topics under the 
                    broad umbrella of using computers to do scientific research more 
                    effectively and efficiently. This includes using Python for DNA
					sequence analysis, plotting and statistical analysis of environmental 
					data in R, automating repetitive tasks with the shell, general best 
					practices in coding, using tools such as Git and Github to 
					collaborate effectively with others, and much much more. </h3>
					
					<h3 class="section-subheading text-muted">All are welcome to this 
					study group, regardless of scientific research area, affiliation or 
					training level. </h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-comment fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Skill Sharing</h4>
                    <p class="text-muted">Share your favorite coding skills and tools with your friends and colleagues in friendly, no-pressure work-alongs.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Co-Working</h4>
                    <p class="text-muted">Get together to work on your coding projects, help each other out and share your work.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-group fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Community Building</h4>
                    <p class="text-muted">Meet new people in your field, organization or community - and find out what we can do when we work together.</p>
                </div>
            </div>
        </div>
    </section>
